{% extends "base.html" %}

{% block meta_tags%}
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
{% endblock meta_tags%}

  {% block hero-section %}
      <div class="container">
        <h1>Каталог товарів</h1>
        <h2>{{ category.name }}</h2>

<div class="product-list">
  {% for product in products %}
      <div class="product-card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>

          {% if product.discount_price %}
              <p>
                  <span style="text-decoration: line-through; color: #888;">
                      {{ product.price }} грн
                  </span>
                  <span style="color: red; font-weight: bold;">
                      {{ product.discount_price }} грн
                  </span>
              </p>
          {% else %}
              <p>{{ product.price }} грн</p>
          {% endif %}

          <a href="{% url 'goods:product' product.slug %}">Детальніше</a>
      </div>
  {% empty %}
      <p>У цій категорії ще немає товарів</p>
  {% endfor %}
</div>

        

    {% endblock hero-section %}