{% extends "base.html" %}

{% block meta_tags%}
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
{% endblock meta_tags%}

  {% block hero-section %}
      <div class="container">
        <h1>Каталог товарів</h1>
        <section id="bracelets">
          <h2>Браслети</h2>
          <div class="product-list">
          </div>
        </section>
        <section id="gerdan">
          <h2>Гердани</h2>
          <div class="product-list">
          </div>
        </section>

        <section id="necklace">
          <h2>Намиста</h2>
          <div class="product-list">
         
        </section>
        <section id="choker">
          <h2>Чокери</h2>
          <div class="product-list">
            
            </div>
        </section>
        <section id="earrings">
          <h2>Сережки</h2>
          <div class="product-list">
          </div>
        </section>

      </div>
    {% endblock hero-section %}