{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="all">
  <meta name="revisit-after" content="1 day">
  {% block head_1 %}
  {% endblock head_1 %} 
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "assets/style/lightslider.css" %}">
  <link rel="stylesheet" href="{% static "assets/style/lightgallery-bundle.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/style/lightgallery.css" %}">
  <link rel="stylesheet" href="{% static "assets/style/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/style/style.min.css" %}">
  <!-- Icons -->
  {% block shortcut_icon %}
  {% endblock shortcut_icon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/images/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon-16x16.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/images/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="150x150" href="{% static "assets/images/mstile-150x150.png" %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static "assets/images/android-chrome-512x512.png" %}">
  <link rel="manifest" href="{% static "assets/images/site.webmanifest" %}">
  <link rel="mask-icon" href="{% static "assets/images/safari-pinned-tab.svg" %}" color="#5bbad5">
  <!-- HTML Meta Tags -->
  {% block meta_tags %}
  {% endblock meta_tags %}
</head>

<body>
  <div class="page-overlay"></div>
  <div class="menu-panel">
    <div class="panel-top">
      <div class="logo"><a href="{% static "/index.html" %}"><img src="{% static "assets/images/logo.png" %}" alt="logo"></a></div>
      <div class="hamburger-wrap">
        <button id="hamb-btn-mobile" class="hamburger hamburger--squeeze is-active" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>" 
        </button>
      </div>
    </div>
    <nav>
      <ul class="mobile-menu">
        <li><a href="{% static "/index.html" %}">ГОЛОВНА</a></li>
        <li><a href="{% static "assets/pages/catalog.html" %}">КАТАЛОГ</a></li>
        <li><a href="{% static "assets/pages/сontacts.html" %}">КОНТАКТИ</a></li>
        <li><a href="{% static "assets/pages/shipping.html" %}">ДОСТАВКА І ОПЛАТА</a></li>
        <li><a href="{% static "assets/pages/reviews.html" %}">ВІДГУКИ</a></li>
        <li><a href="{% static "assets/pages/promotions.html" %}">АКЦІЇ</a></li>
        <li><button id="cart-button" type="button" onclick="showCartModal()"><img src="{% static "assets/images/cart.svg" %}" alt="cart"></button></li>
      </ul>
    </nav>
  </div>
  <div class="page-wrapper">
    <header>
      <div class="nav-container">
        <div class="container">
          <div class="logo"><a href="{% static "/index.html" %}"><img src="{% static "assets/images/logo.png" %}" alt="logo"></a>
          </div>
          <nav>
            <ul>
              <li><a href="{% static "index.html" %}">ГОЛОВНА</a></li>
              <li><a href="{% static "assets/pages/catalog.html" %}">КАТАЛОГ</a>
                  <ul class="submenu">
                    <li><a href="{% static "assets/pages/catalog.html#bracelets" target="_parent" %}">БРАСЛЕТИ</a></li>
                    <li><a href="{% static "assets/pages/catalog.html#gerdan" target="_parent" %}">ГЕРДАНИ</a></li>
                    <li><a href="{% static "assets/pages/catalog.html#necklace" target="_parent" %}">НАМИСТА</a></li>
                    <li><a href="{% static "assets/pages/catalog.html#choker" target="_parent" %}">ЧОКЕРИ</a></li>
                    <li><a href="{% static "assets/pages/catalog.html#earrings" target="_parent" %}">СЕРЕЖКИ</a></li>
                  </ul>
                </li>
              <li><a href="{% static "assets/pages/contacts.html" %}">КОНТАКТИ</a></li>
              <li><a href="{% static "assets/pages/shipping.html" %}">ДОСТАВКА І ОПЛАТА</a></li>
              <li><a href="{% static "assets/pages/reviews.html" %}">ВІДГУКИ</a></li>
              <li><a href="{% static "assets/pages/promotions.html" %}">АКЦІЇ</a></li>
              <li><button id="cart-button" type="button" onclick="showCartModal()"><img src="{% static "assets/images/cart.svg" alt="cart" %}"></button></li>

            </ul>
          </nav>
          <div class="hamburger-wrap">
            <button id="hamb-btn" class="hamburger hamburger--squeeze" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- hero-section -->
      {% block hero-section %}
      {% endblock hero-section %}
      <!-- Модальне вікно у корзині-->
      <div class="container">
        <div id="modalWrapper" class="modal-wrapper">
          <div id="continueShoppingModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Кошик</h5>
                  <button type="button" class="close" aria-label="Close" onclick="hideCartModal()">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <th scope="col">Артикул</th>
                      <th scope="col">Назва</th>
                      <th scope="col">Ціна</th>
                      <th scope="col">Кількість</th>
                      <th scope="col">Видалити</th>
                      </tr>
                    </thead>
                    <tbody class="show-cart">
                    </tbody>
                  </table>
                  <p>Загальна вартість: <span class="total-cart">0</span> грн</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="continueShoppingBtn"
                    onclick="hideCartModal()">Продовжити покупки</button>
                  <button type="button" class="btn btn-primary" id="checkoutBtn">Оформити замовлення</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div id="orderModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Оформлення замовлення</h5>
                <button type="button" class="close" aria-label="Close" onclick="hideOrderModal()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="order-items">
                  <h6>Ваше замовлення:</h6>
                  <ol class="order-items-list">
                    <!--Товари з кошика -->
                  </ol>
                </div>
                <form id="checkoutForm">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" required placeholder="Вaше ім'я">
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-control" id="phone" required placeholder="Ваш номер телефону">
                  </div>
                  <div class="form-group">
                    <textarea id="story" name="story" rows="5" cols="33" placeholder="Ваш коментар">

                          </textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Отправить заказ</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <footer>
      <div class="container-footer">
        <div class="contact-info">
          <h3>Контактна інформація</h3>
          <p>Телефон: <a href="tel:+380680376390">+38068-037-63-90</a></p>
          <p>Email: <a href="mailto:aniakravchenko1801@gmail.com">aniakravchenko1801@gmail.com</a></p>
          <p>Адреса:<a
              href="https://www.google.com/maps?sca_esv=4d50ecf86976fd48&output=search&q=v+rb%5Dd&source=lnms&entry=mc&ved=1t:200715&ictx=111">
              м. Київ</a></p>

        </div>


        <div class="social-media">
          <h3>Слідкуйте за нами</h3>
          <ul>
            <li>
              <a class="instagram-text"
                href="https://www.instagram.com/chudno_kvit_jewelryaccessories/?igshid=MzRlODBiNWFlZA%3D%3D"
                target="_blank">
                <img src="{% static "assets/images/free-icon-instagram-2097658.png" %}" alt="Instagram">
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">© 2023 Всі права захищені.</div>
    </footer>
    <script src="{% static "assets/js/jquery/jquery-3.7.1.min.js" %}"></script>
    <script src="{% static "assets/js/plagins/lightslider.min.js" %}"></script>
    <script src="{% static "assets/js/plagins/lightgallery.umd.js" %}"></script>
    <script src="{% static "assets/js/plagins/lightgallery.min.js" %}"></script>
    <script src="{% static "assets/js/wow.min.js" %}"></script>
    <script src="{% static "assets/js/lazyload.min.js" %}"></script>
    <script src="{% static "assets/js/toast.js" %}"></script>
    <script src="{% static "assets/js/shoppingCart.js" %}"></script>

    <script>
      var dataJsonUrl = "{% static 'assets/data/data.json' %}";
   </script>
  

    <script src="{% static "assets/js/main.js" %}"></script>
  </div>
</body>

</html>