{% extends "main/base.html" %}

{% load static %}
  {% block head_1 %}
    <meta property="og:locale" content="en">
    <title>Chudnokvit</title>
  {% endblock head_1 %}  

  {% block shortcut_icon %}
    <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">
  {% endblock shortcut_icon %}
  <!-- HTML Meta Tags -->
  {% block meta_tags %}
    <meta name="description" content="">
    <title>Chudnokvit</title>
  
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://marynafedotova.github.io/ChudnoKvitShop/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Chudnokvit">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://ogcdn.net/6064b869-74ed-4eb9-b76c-0b701ffe7e6b/v4/marynafedotova.github.io/Chudnokvit/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F810e8f30-e7ce-4d87-a810-fd5be5545728.png%3Ftoken%3DSiRvDCde4M5kqz8X3ZS9pHFcwkYmpieKwQSSlkEUnFo%26height%3D512%26width%3D512%26expires%3D33264312627/og.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="marynafedotova.github.io">
    <meta property="twitter:url" content="https://marynafedotova.github.io/ChudnoKvitShop/">
    <meta name="twitter:title" content="Chudnokvit">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://ogcdn.net/6064b869-74ed-4eb9-b76c-0b701ffe7e6b/v4/marynafedotova.github.io/Chudnokvit/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F810e8f30-e7ce-4d87-a810-fd5be5545728.png%3Ftoken%3DSiRvDCde4M5kqz8X3ZS9pHFcwkYmpieKwQSSlkEUnFo%26height%3D512%26width%3D512%26expires%3D33264312627/og.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  {% endblock meta_tags %}


    {% block hero-section %}
      <!-- hero-section -->
      <section class="hero-section">
        <div class="container">
          <div><img src="{% static "assets/images/logo.png" %}" alt="logo"></div>
          <div class="compani-info">
            <h1>Про нас</h1>
            <p>
              Вітаємо Вас на нашому сайті! 
              Ми займаємося виготовленням унікальних прикрас з поєднанням найрізноманітніших матеріалів.
              Серед нашого асортименту Ви знайдете браслети, намиста, сережки та чокери. 
              Всі наші вироби виготовляються з любов'ю та увагою до деталей.
              Знайдіть прикрасу до душі, потіште ваше серденько ❤️
            </p>
          </div>
        </div>
      </section>
      <!-- new goods -->

      <section class="new-goods">
        <div class="container">
          <ul id="sliderNewGoods">
          </ul>
        </div>
        <div id="prevHtml" onclick="goToPrevSlide()">
        </div>
        <div id="nextHtml" class="lSNext" onclick="goToNextSlide()">
        </div>
      </section>
    {% endblock hero-section %}
